# Files and directories created by pub
.dart_tool/
.packages
build/
.flutter-plugins-dependencies
.kotlin

# Pubspec overrides
pubspec_overrides.yaml

# macOS
.DS_Store

# https://dart.dev/tools/pub/private-files#the-rules
pubspec.lock

# Swift Package Manager
.build
.swiftpm
swiftpm/

# Generated Flutter directory
Flutter
Runner/

.idea/
